﻿<html>

<head>
    <meta charset="UTF-8">
    <title>PainelKMV</title>
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/externo/bootstrap/bootstrap.min.css">
    <script src="js/externo/jquery-3.3.1.min.js"></script>
    <script src="/js/externo/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/painel.css">
    <link rel="stylesheet" href="/css/progress.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <script rel="stylesheet" src="js/filter.js"></script>
    <script rel="stylesheet" src="js/painel.js"></script>
    <script rel="stylesheet" src="js/donuts.js"></script>
    <script rel="stylesheet" src="js/progressbar.js"></script>
    <script rel="stylesheet" src="js/tamComponentes.js"></script>

    <link rel="stylesheet" href="css/externo/jquery.circliful.css" type="text/css" />
    <link rel="stylesheet" href="/css/externo/checkbox.css" type="text/css" />
    <script src="js/externo/jquery.circliful.js"></script>
    <script src="js/externo/moment.js"></script>


</head>

<body class="dark">
    <nav class="navbar navbar-inverse bg-primary ">
        <div class="container w-100">
            <a class="navbar-brand" href="">
                <img src="images/logo.png" alt="logo">
            </a>
            <div>
                <span class="navbar-text" style="margin-right: 15px">Bloqueados</span>
                <label class="el-switch">
                    <input id="block" type="checkbox" name="switch" onchange='auxFilterBlock(this);'>
                    <span class="el-switch-style" style="margin-bottom: -8%"></span>
                </label>
            </div>
            <div>
                <span class="navbar-text" style="margin-right: 15px">Operando</span>
                <label class="el-switch">
                    <input id="oper" type="checkbox" name="switch" checked onchange='auxFilterOper(this);'>
                    <span class="el-switch-style" style="margin-bottom: -8%"></span>
                </label>
            </div>
            <span class="navbar-text" id="hrSinc"></span>
        </div>
    </nav>

    <div class="container">
        <ul id="messages">
        </ul>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-off" role="progressbar"></div>
        <div class="progress-bar progress-bar-blocked-off" role="progressbar"></div>

        <div class="progress-bar progress-bar-warning" role="progressbar"></div>
        <div class="progress-bar progress-bar-blocked-warning" role="progressbar"></div>

        <div class="progress-bar progress-bar-on" role="progressbar"></div>
    </div>
</body>


</html>