.container{
    max-width:70%;
}

body{
    font-family: Roboto,sans-serif;
    font-weight: 100;
}
h1:after {
    border-style: solid;
    content: "";
    left: 0;
    position: absolute;
    width: 80px;
    border-color: #fab03b;
    border-width: 2px 0 0;
    bottom: -2px;
    height: 1px;
}
h1{
    font-weight: 100;
}