.navbar-brand>img {
    margin: 2.5%;
    height: 5vh;
    width: auto;
}

.navbar {
    color: white;
    margin-bottom: 2vh;
    background-color: #23324a;
    height: 10vh;
    border-bottom: 0.25vh solid #4799fd;
}

.bg-primary {
    background-color:#0e171e!important/*#23324a!important;*/
}

.navbar-text {
    font-size: 3vh;
}
