li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    position: relative;
}

.pv .nome{
    position: block;
    padding-left:3em;
    height:2.5em;
}
/*=====================================================================================*/

.bloco{
    position: relative;
    display:list-item!important;
}
.info{
    color: whitesmoke;
    position:relative;
    display: inline-block;
    top:0vh;
}
.dados{
    position:relative!important;
    margin-left:-1em!important;
    display:inline-block;
}
/*=====================================================================================*/

.pv{
    font-size: 0.8em;
}

.bold>.nome{
    /* font-weight: bold; */
    color:#2ac8e8 !important; /*#3bbbea/* #007bff!important;*/
}

.bold>.pv{
    color:#2ac8e8/*#1875a1;*/
}

/*=====================================================================================*/

body {
    font-family: Roboto,sans-serif;
    background-color:#18222b/*#141526
    /*background-color:#23324a*/
    /* background-color:#303443; */ 
}

.container {
    max-width: 1800px;
}

li {
    list-style-type: none;
}

#messages{
    height: 85vh; 
}