.progress{
    position:absolute; bottom:0px;
    width:100%;
    height:2vh;
    font-weight: bold;
    font-size:1.5vh;
}

.progress-bar-on{
    
    background-color:#00b7ea;
    color:#0b386f
}

.progress-bar-off{
    background-color:#dc4352;
    color:#490910
}

.progress-bar-warning{
    background-color:#55b4b2;
    color:#1f3f07
}

.progress-bar-blocked-off{
    background-color:#8c101e;
    color:#dc4352;
}

.progress-bar-blocked-warning{
    background-color:#437978;
    color:#55b4b2;
}
